
<%- include("partials/header"); -%>
    <h1>Home</h1>
    <p> <%= startingContent %> </p>


  <%  posts.forEach(function(post){ %>

    <h1><%=post.title%></h1>

    <p> by <%=post.name%> </p>
    <p>
    <%=post.content.substring(0, 100) + " ..."%>
    <a href="/posts/<%= post._id %>">Read More</a>
    </p>


    <% }) %>

<a href="/compose">
  <button type="button" class="btn btn-default compose-btn" aria-label="Left Align">
    <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>  Compose
  </button>
</a>



<%- include("partials/footer"); -%>
